<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>CK小镇浪漫童话之旅</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/font-awesome.css">
		<link rel="stylesheet" href="css/swiper.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="css/app.css" />
		<script src="js/mui.min.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/swiper.js"></script>
		<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=8OUBz45oROYf20Vs5aOq7YpDGtPxSm7a"></script>
		<style>
			.smnoprint {
				display: none;
			}
			
			.anchorBL {
				display: none;
			}
		</style>
	</head>

	<body>
		<!--<header class="mui-bar mui-bar-nav ">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">CK小镇浪漫童话之旅</h1>
		</header>-->
		<nav class="mui-bar mui-bar-tab no-border" id="nav" v-cloak>
			<div class="pos-fix">
				<div class="line mui-text-center" v-on:click="toWritequestion(data)">请教<br/>行家</div>
				<div class="line mui-text-center" v-on:click="toWriteComment(data)"><i class="fa fa-pencil"></i>点评</div>
			</div>
			<div class="mui-slider">
				<div class="mui-slider-group">

					<!--循环讲解点-->
					<div class="mui-slider-item" v-for="(record,index) in data.records">
						<div class="mui-slider-box pos-rel">
							<div class="pos-rel mui-media-object mui-pull-left" v-on:click="play(record,$event)">
								<img :src="record.pics[0]" v-if="record.pics!=null" class=" img-responsive" />
								<div class="pos-abs">
									<i class="faplay fa fa-play-circle"></i>
								</div>
								<audio :src="record.playpath" hidden='true' controls>
								</audio>
							</div>
							<div class="mui-media-body">
								<h5>{{index+1}}.{{record.spotname}}</h5>
								<p>{{record.audiotime}}<span>左右滑动切换讲解点</span></p>
							</div>
							<div class="pos-abs location">
								<a v-on:click="toNavigation(record,$event)"><i class=" fa fa-location-arrow"></i></a>
								<a v-on:click="locate(index+1,record,$event)"><i class=" fa fa-bullseye"></i></a>
							</div>
						</div>
						<div class="travelbox">
							<div class="swiper-container gallery-top" v-bind:class="'top'+index">
								<div class="swiper-wrapper">
									<div class="swiper-slide" v-for="pic in record.pics">
										<img :src="pic" class=" img-responsive" />
									</div>
								</div>
							</div>
							<div class="swiper-container gallery-thumbs" v-bind:class="'thumbs'+index">
								<div class="swiper-wrapper">
									<div class="swiper-slide" v-for="pic in record.pics">
										<div class="slideimg">
											<img :src="pic" class=" img-responsive" /> 讲解点名称
										</div>
										<img src="images/walk.png" class="walk" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			</div>
		</nav>

		<div class="mui-content">
			<div id="allmap"></div>
		</div>
		<script type="text/javascript">
			//设置高度
			$("#allmap").height($(window).height() - $("#nav").height());

			// 百度地图API功能
			var map = new BMap.Map("allmap");
			map.centerAndZoom(new BMap.Point(116.407845, 39.914101), 15);
			map.enableScrollWheelZoom();
			// 复杂的自定义覆盖物
			function ComplexCustomOverlay(point, html) {
				this._point = point;
				this._html = html;
			}
			ComplexCustomOverlay.prototype = new BMap.Overlay();
			ComplexCustomOverlay.prototype.initialize = function(map) {
				this._map = map;
				var div = this._div = document.createElement("div");
				div.style.position = "absolute";
				div.style.zIndex = BMap.Overlay.getZIndex(this._point.lat);
				div.innerHTML = this._html;

				div.addEventListener("touchstart", function() {
					if($(this).children().hasClass("lacationimg")) {
						console.log("不做任何操作");
					} else {
						var index = $(this).children().attr("index");
						var record = vue1.data.records[index - 1];
						vue1.curRecordsIndex = index;
						vue1.curRecords = record;
						gallery.gotoItem(index - 1); //到对应的播放record

						var oldIndex = $(".lacationimg").attr("index");
						var balabala1 = '<div class="lacation" index="' + oldIndex + '" style="margin-top:-30px;margin-left:-12px">' + oldIndex + '</div>';
						$(".lacationimg").parent().html(balabala1); //修改原中心点

						var balabala2 = '<div class="lacationimg" index="' + index + '" style="margin-top:-38px;margin-left:-18px;"><img src="' + record.pics[0] + '"  class=" img-responsive img-circle"></div>';
						$(this).html(balabala2);
						//重设中心点
						var point = new BMap.Point(record.lng, record.lat);
						map.setCenter(point);
					}
				});
				map.getPanes().labelPane.appendChild(div);
				return div;
			}
			ComplexCustomOverlay.prototype.draw = function() {
				var map = this._map;
				var pixel = map.pointToOverlayPixel(this._point);
				this._div.style.left = pixel.x + "px";
				this._div.style.top = pixel.y + "px";
			}

			var gallery = null; //左右切换record轮播块
			var vue1 = new Vue({
				el: '#nav',
				data: {
					data: {},
					doubleRecords: [],
					curRecords:{},
					curRecordsIndex: null
				},
				updated: function() {
					this.$nextTick(function() {
						//初始化左右切换record
						gallery = mui('.mui-slider').slider();
						//初始化每个record的图片轮播
						$(".mui-slider-item").each(function(index) {
							var loop = true;
							//如果图片只有一个时做特殊处理
							if($(".top" + index).find(".swiper-slide").length <= 1) {
								loop = false;
							}

							var galleryTop = new Swiper('.top' + index, {
								spaceBetween: 10,
								loop: loop,
								loopedSlides: 5, //looped slides should be the same
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
							});

							var galleryThumbs = new Swiper('.thumbs' + index, {
								spaceBetween: 10,
								slidesPerView: 4,
								touchRatio: 0.2,
								loop: loop,
								loopedSlides: 5, //looped slides should be the same
								slideToClickedSlide: true,
							});

							galleryThumbs.controller.control = galleryTop;
							galleryTop.controller.control = galleryThumbs;
						})
					})
				},
				methods: {
					toWritequestion: function(line) {
						console.log("请教行家");
						myLocalStorage.setItem("line", line);
						wx.miniProgram.navigateTo({
							url: '/pages/writequestion/writequestion'
						})
					},
					toWriteComment: function(line) {
						console.log(vue1.curRecords);
						console.log("写点评");
						if(!vue1.curRecords.canplay) { //没购买卖过
							mui.toast("您还未购买，无法评论！");
							return;
						}
						myLocalStorage.setItem("line", line);
						wx.miniProgram.navigateTo({
							url: '/pages/writecomment/writecomment'
						})
					},
					play: function(record, e) {
						
						if(!record.canplay) { //没购买卖过
							mui.toast("您还未购买，无法播放！");
							return;
						}

						var audio = $(e.currentTarget).find("audio")[0]; //转换成dom
						if($(e.currentTarget).find(".faplay").hasClass("fa-play-circle")) {
							$(e.currentTarget).find(".faplay").addClass("fa-pause-circle-o");
							$(e.currentTarget).find(".faplay").removeClass("fa-play-circle")
							audio.play();
						} else {
							$(e.currentTarget).find(".faplay").removeClass("fa-pause-circle-o");
							$(e.currentTarget).find(".faplay").addClass("fa-play-circle")
							audio.pause();
						}
					},
					toNavigation: function(record, event) {
						if(record.lat == null) {
							mui.toast("目的地位置不确定!");
							return;
						}
						console.log("开始导航");
						var geolocation = new BMap.Geolocation();
						geolocation.getCurrentPosition(function(r) {
							if(this.getStatus() == BMAP_STATUS_SUCCESS) {
								var mk = new BMap.Marker(r.point);
								map.addOverlay(mk);
								//map.panTo(r.point);//地图中心点移到当前位置
								var latCurrent = r.point.lat;
								var lngCurrent = r.point.lng;
								
								location.href = "http://api.map.baidu.com/direction?origin=" +latCurrent + "," + lngCurrent +
									"&destination=" + record.lat + "," + record.lng +
									"&mode=driving&title=" + record.spotname +
									"&region=" + record.spotname + "&output=html";
//								location.href = "http://api.map.baidu.com/direction?origin=" + (record.lat - 0.02) + "," + record.lng +
//									"&destination=" + record.lat + "," + record.lng +
//									"&mode=driving&title=" + record.spotname +
//									"&region=" + record.spotname + "&output=html";
							} else {
								mui.toast("无法获取您的位置！")
							}
						}, {
							enableHighAccuracy: true
						})
					},
					locate: function(index, record, event) {
						if($("[index=" + index + "]").hasClass("lacationimg")) {
							console.log("不做任何操作");
						} else {
							if(record.lng == null){
								return;	
							}
							vue1.curRecordsIndex = index;
							vue1.curRecords = record;
							var oldIndex = $(".lacationimg").attr("index");
							var balabala1 = '<div class="lacation" index="' + oldIndex + '" style="margin-top:-30px;margin-left:-12px">' + oldIndex + '</div>';
							$(".lacationimg").parent().html(balabala1); //修改原中心点
							var balabala2 = '<div class="lacationimg" index="' + index + '" style="margin-top:-38px;margin-left:-18px;"><img src="' + record.pics[0] + '"  class=" img-responsive img-circle"></div>';
							$("[index=" + index + "]").parent().html(balabala2);
							//重设中心点
							var point = new BMap.Point(record.lng, record.lat);
							map.setCenter(point);
						}
					}

				},
				watch: {
					"data.records": function(records) {
						for(var i = 0; i < records.length; i++) {
							var record = records[i];
							var pics = record.spotpictures.split(",");
							record.pics = pics; //转换所有的图片成数组
							vue1.curRecords = record;
							var balabala1 = '<div class="lacation" index="' + (i + 1) + '" style="margin-top:-30px;margin-left:-12px">' + (i + 1) + '</div>';
							var balabala2 = '<div class="lacationimg" index="' + (i + 1) + '" style="margin-top:-38px;margin-left:-18px;"><img src="' + pics[0] + '"  class=" img-responsive img-circle"></div>';
							if(record.lat != null && record.lng != null && this.curRecordsIndex == null) { //默认设置
								this.curRecordsIndex = i + 1;
								var point = new BMap.Point(record.lng, record.lat);
								var myCompOverlay = new ComplexCustomOverlay(point, balabala2);
								map.addOverlay(myCompOverlay);
								map.setCenter(point);
							} else {
								if(record.lat != null && record.lng != null) {
									var point = new BMap.Point(record.lng, record.lat);
									var myCompOverlay = new ComplexCustomOverlay(point, balabala1);
									map.addOverlay(myCompOverlay);
								}
							}
						}

					}
				}
			});

			function loadLineDetail() {
				$.ajax({
					dataType: "json",
					type: "get",
					headers: {
						'Content-Type': 'application/json',
						'token': myLocalStorage.getItem("token")
					},
					url: basePath + "services/lineinfo/" + myLocalStorage.getItem("lineid"),
					data: {},
					success: function(res) {
						if(res.status == 0) {
							vue1.data = res.result;
						} else {
							mui.toast(res.errmsg)
						}
					},
					error: function(result) {
						mui.toast("请求遇到问题!")
					}
				});
			}

			$(function() {
				loadLineDetail();

				//上拉下拉事件
				mui("body").on("swipeup", ".mui-slider", function(e) {
					$('.travelbox').addClass('travelshow');
					$('.pos-fix').addClass('pos-fixa');
					var h = $('.mui-slider ').height();
					$('.pos-fixa').css("bottom", (h + 15));
				})
				mui("body").on("swipedown", ".mui-slider", function(e) {
					$('.travelbox').removeClass('travelshow');
					var h = $('.mui-slider ').height();
					$('.pos-fixa').css("bottom", "74px");
					$('.pos-fix').removeClass('pos-fixa');
				})

			})
		</script>
	</body>

</html>