<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>订单详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/font-awesome.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="css/app.css" />
		<script src="js/mui.min.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/vue.min.js"></script>
		<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
	</head>

	<body>
		<!--<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">订单详情</h1>
		</header>-->

		<div id="content" v-cloak>
			<nav class="mui-bar mui-bar-tab no-border" v-if="data.paytime == null">
				<a class=" mui-col-xs-12 mui-btn mui-btn-blue" v-on:click="toPay">
					立即购买
				</a>
			</nav>
			<!--<nav class="mui-bar mui-bar-tab no-border" v-if="data.paytime != null">
				<a class=" mui-col-xs-12 mui-btn mui-btn-grey" >
					已支付
				</a>
			</nav>-->
			
			<div class="mui-content my">
				<div class="mui-card">
					<div class="mui-table-view">
						<div class="mui-table-view-cell mui-media">
							<a v-if="data.goods != null">
								<img class="mui-media-object mui-pull-left" :src="data.goodscover">
								<div class="mui-media-body">
									<h5>{{data.goods.title}}</h5>
									<h5>{{data.goods.subTitle}}</h5>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="mui-card orderdetail">
					<div class="title">订单详情</div>
					<div class=" pos-rel">
						<p>订单号：<span>{{data.ordernumber}}</span></p>
						<p>下单时间：<span>{{data.ordertime}}</span> </p>
						<p v-if="data.goods != null">单价：<span class=" blue">￥{{data.goods.price}}</span></p>
						<p>商品数量：<span>{{data.size}}</span></p>
						<p>金额：<span class="blue">￥{{data.amount}}</span></p>
						<p> 付款方式：<span>微信支付</span></p>
						<p> 付款时间：<span>{{data.paytime}}</span></p>
						<div class="pos-abs" v-if="data.goods != null">
							<img :src="data.goods.cover" class=" img-responsive" /></div>
					</div>
				</div>

				<ul class="mui-table-view orderdetail">
					<li class="mui-table-view-cell" v-on:click="toNavigation(data.goods)">
						<a class="mui-navigate-right">
							到店自取地址
						</a>
						<p v-if="data.goods != null">
							{{data.goods.address}}
						</p>
					</li>
					<li class="mui-table-view-cell" v-for="item in data.links" v-on:click="toDetail(item.lineid)">
						<a class="mui-navigate-right">
							{{item.linename}}
						</a>
						<div class=" mui-col-sm-12">
							<span><i class=" fa fa-map-marker"></i>{{item.recordcount}}</span>
							<span><i class="fa fa-clock-o"></i>{{item.timelabel}}min</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<script type="text/javascript">
			var payParams;
			var param = getRequest();
			var orderId = param.orderId;
			
			var vue1 = new Vue({
				el: '#content',
				data: {
					data: {}
				},
				updated: function() {
					this.$nextTick(function() {})
				},
				methods: {
					toPay:function() {
						loadWeixin();//请求微信参数
						//微信支付参数获取成功
						if(payParams != null){
							payParams.notorderid.package = encodeURI(encodeURI(payParams.notorderid.package))
							var requestParam = JSON.stringify(payParams);
							requestParam = requestParam.replace(/=/g,'~');//由于等号导致的传参问题需要特殊处理
							wx.miniProgram.navigateTo({
								url: "/pages/utils/pay?requestParam="+requestParam
							})
						}
					},
					toDetail: function(id) {
						console.log("到详情页");
						myLocalStorage.setItem("lineid", id)
						wx.miniProgram.navigateTo({
							url: '/pages/detail/detail'
						})
					},
					toNavigation: function(goods) {
						console.log(goods);
						console.log("到导航页");
						myLocalStorage.setItem("goods", goods)
						wx.miniProgram.navigateTo({
							url: '/pages/navigation/navigation'
						})
					}
				}
			});

			function loadOrderDetail() {
				$.ajax({
					dataType: "json",
					type: "get",
					headers: {
						'Content-Type': 'application/json',
						'token': myLocalStorage.getItem("token")
					},
					url: basePath + "services/xcx/goods/order/" + orderId,
					data: {},
					success: function(res) {
						if(res.status == 0) {
							vue1.data = res.result;
						} else {
							mui.toast(res.errmsg)
						}
					},
					error: function(result) {
						mui.toast("请求遇到问题!")
					}
				});
			}


			function loadWeixin() {
				$.ajax({
					dataType: "json",
					type: "post",
					async:false,
					headers: {
						'Content-Type': 'application/json',
						'token': myLocalStorage.getItem("token")
					},
					url: basePath + "services/v2/pay/microapp",
					data: JSON.stringify({
						"type": "map",
						"id": vue1.data.goods.id,
						"size":vue1.data.size
					}),
					success: function(res) {
						if(res.status == 0) {
							payParams = res.result;
						} else {
							mui.toast(res.errmsg);
						}
					},
					error: function(result) {
						mui.toast("请求遇到问题!");
					}
				});
			}
			
			$(function() {
				loadOrderDetail();
			})
		</script>
	</body>

</html>